@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(26, 16, 68);
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.logo img{
   
    width: 80px;

}
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.logo2{
    color: seashell;
    font-family: 'Sarina', cursive;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
li
{
    margin: 0 30px;
    color: snow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 90px;
}
.iconMenu{
    color: seashell;
    font-size: 40px;
    display: flex;
    align-items: center;

}
.iconlink{
    text-decoration: none;
}
.navlink{
    color: seashell;
    text-decoration: none;
}
h2{
    font-size: 50px;
    color: rgb(6, 88, 84);
    font-family: 'Signika', sans-serif;
    margin-left: 50px;

}

.center {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 90px;
}
h2{
    margin-left: 80px;
}
.center img{
    border-radius: 25%;
    height: 380px;
}
.spancenter{
    border-radius: 8%;
    background: rgb(6, 88, 84);
    color: rgb(254, 255, 255);
}
.contactimg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 360px;
  
  
}
.contactimg img{
    width: 30%;
    border-radius: 10%;
  
}
.contacthey {
    margin-top: 40px;
    text-align: center;
    height: 90px;
    
}
.unver {
    margin: 60;
  
    font-size: 55px;
    font-family: 'Signika', sans-serif;
    color: rgb(6, 88, 84);
    border: 5px solid rgb(9, 97, 97); 
}
.iconfbins{
     height: 90px;
    font-size: 40px;
    text-align: center;
}

.bgimg {
    width: 100%;
    height: 100%;
    background: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wHfK?ver=1d1c');
}
.textabout span{
    display:inline-block;
    padding: 5px;
    margin-top: 70PX;
    margin-left:70px;
    font-size: 45px;
    color: rgb(254, 255, 255);
    font-family: 'Signika', sans-serif;
   border: 3px solid rgb(254, 255, 255); 
 }
.listmot{
    font-size:35px;
    color: rgb(254, 255, 255);
    font-family: 'Signika', sans-serif;
    margin-top: 40PX;
    margin-left:70px;
    text-decoration: underline;
}
.aboutimg{
    height: 120px;
    margin-left: 60px;
    border-radius: 5%;
    border: 3px solid rgb(254, 255, 255); 
   
}
.about{
  height: 250px;
  margin-top: 60px;
  margin-left: 82px;
 
}
.helloindex{
    font-size: 60px;
      color: rgb(255, 255, 255);
      font-family: 'Signika', sans-serif;
}
.bghello{
    display: flex;
    justify-content: space-around;
    padding-top:100px;
    padding-left: 90px;
    background: url('./img/imbgindex.jpg');
   height: 100vh;
}
.gif img{
    height: 330px;
    padding:19px;
    border-radius: 70px;

}
